.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 611px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 68px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 81px auto 0 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 611px;
  background-image: url("images/Coding\ man\ Cartoon.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-1 .u-image-1 {
    min-height: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 579px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-1 {
    min-height: 365px;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  width: 738px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 30px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 375px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 82px 10px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 46px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 82px 10px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 46px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 82px 10px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 710px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 741px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  width: 599px;
  margin: 19px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 435px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 162px 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 306px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 32px 306px 0 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  margin: -30px 0 -15px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 72px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 774px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 657px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 369px;
  height: 432px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 395px;
  min-height: 283px;
  margin: -121px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 78px;
  height: 78px;
  background-image: url("images/Untitled-3.jpg");
  background-position: 100% 0%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 86px;
  height: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 86px;
  height: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 63px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 328px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  width: 86px;
  height: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 63px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 327px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  width: 86px;
  height: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 2px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 374px;
  }

  .u-section-4 .u-group-1 {
    width: 279px;
    min-height: 286px;
    margin-top: -63px;
  }
}
.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5 .u-group-1 {
  min-height: 360px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-5 .u-text-2 {
  width: 451px;
  margin: 13px auto 0;
}

.u-section-5 .u-form-1 {
  background-image: none;
  height: 94px;
  width: 840px;
  margin: 40px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 159px;
  }

  .u-section-5 .u-form-1 {
    margin-top: -190px;
    margin-bottom: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    min-height: 421px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 26px 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 261px;
  }

  .u-section-5 .u-form-1 {
    height: 217px;
    width: 520px;
    margin: -297px 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
    margin-top: -326px;
  }
}
.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 810px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  width: 274px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 489px;
  grid-gap: 0px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-1 {
  padding: 6px 30px;
}

.u-section-6 .u-image-1 {
  height: 357px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  width: 254px;
  min-height: 152px;
  margin: -57px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -184px auto 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-3 {
  padding: 6px 30px;
}

.u-section-6 .u-image-2 {
  height: 357px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-6 .u-group-2 {
  width: 254px;
  min-height: 152px;
  margin: -57px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -184px auto 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-5 {
  padding: 6px 30px;
}

.u-section-6 .u-image-3 {
  height: 357px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-6 .u-group-3 {
  width: 254px;
  min-height: 152px;
  margin: -57px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -184px auto 0;
}

.u-section-6 .u-text-9 {
  width: 274px;
  margin: 19px auto 51px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-size: 0.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 482px;
  }

  .u-section-6 .u-image-1 {
    height: 283px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 17px;
  }

  .u-section-6 .u-image-2 {
    height: 283px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 17px;
  }

  .u-section-6 .u-image-3 {
    height: 283px;
  }

  .u-section-6 .u-group-3 {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 926px;
  }

  .u-section-6 .u-image-1 {
    height: 335px;
  }

  .u-section-6 .u-image-2 {
    height: 335px;
  }

  .u-section-6 .u-image-3 {
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2569px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2293px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 581px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 581px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 581px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -276px;
    margin-bottom: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2003px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1671px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 358px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    height: 358px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    height: 358px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin: 0 33px 60px;
  }
}
.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 692px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 881px;
  margin: 67px auto -164px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 452px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-7 .u-icon-1 {
  width: 85px;
  height: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 452px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 0 0 0 auto;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -118px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-7 .u-icon-1 {
    width: 64px;
    height: 64px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -786px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -713px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 85px;
  }
}
.u-section-8 {
  min-height: 607px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 324px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 501px;
  }

  .u-section-8 .u-image-2 {
    min-height: 501px;
  }

  .u-section-8 .u-image-3 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 207px;
  }

  .u-section-8 .u-image-1 {
    min-height: 384px;
  }

  .u-section-8 .u-image-2 {
    min-height: 384px;
  }

  .u-section-8 .u-image-3 {
    min-height: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1551px;
  }

  .u-section-8 .u-image-1 {
    min-height: 864px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 864px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 864px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 911px;
  }

  .u-section-8 .u-image-1 {
    min-height: 544px;
  }

  .u-section-8 .u-image-2 {
    min-height: 544px;
  }

  .u-section-8 .u-image-3 {
    min-height: 544px;
  }
}
.u-section-9 .u-sheet-1 {
  min-height: 228px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 90px;
  }

  .u-section-9 .u-image-2 {
    min-height: 90px;
  }

  .u-section-9 .u-image-3 {
    min-height: 90px;
  }

  .u-section-9 .u-image-4 {
    min-height: 90px;
  }

  .u-section-9 .u-image-5 {
    min-height: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-9 .u-image-1 {
    min-height: 176px;
  }

  .u-section-9 .u-image-2 {
    min-height: 172px;
  }

  .u-section-9 .u-image-3 {
    min-height: 155px;
  }

  .u-section-9 .u-image-4 {
    min-height: 165px;
  }

  .u-section-9 .u-image-5 {
    min-height: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 132px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 129px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    min-height: 116px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    min-height: 124px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-5 {
    min-height: 105px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    min-height: 83px;
  }

  .u-section-9 .u-image-2 {
    min-height: 81px;
  }

  .u-section-9 .u-image-3 {
    min-height: 73px;
  }

  .u-section-9 .u-image-4 {
    min-height: 78px;
  }

  .u-section-9 .u-image-5 {
    min-height: 66px;
  }
}
.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 500px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 22px 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-10 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  margin: 20px 171px 0 0;
}

.u-section-10 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-10 .u-text-1 {
    font-weight: 400;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 439px;
  }
}
.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 714px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 580px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-11 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 357px 0 2px;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px auto 0 2px;
}

.u-section-11 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 51px 2px 0;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 2px 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-11 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-11 .u-group-1 {
  min-height: 392px;
  width: 510px;
  margin: 45px auto 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-form-1 {
  width: 450px;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 2px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-11 .u-group-1 {
    width: 412px;
  }

  .u-section-11 .u-form-1 {
    width: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-group-1 {
    width: 302px;
  }

  .u-section-11 .u-form-1 {
    width: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-form-1 {
    height: 321px;
    width: 500px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-form-1 {
    width: 300px;
  }
}
